.Form {
    border: 2px solid #000;
    width: 350px;
    margin: 25px auto;
    padding: 10px;
}

.FormElement {
    border: 1px solid #004;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.Radio {
    margin-bottom: 15px;
}