.Header {
    width: 100%;
    min-height: 140px;
    background-color: #000;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

.Header > * {
    font-family: 'Limelight', cursive;
    margin: 0;
    padding: 0;
}

.Title {
    font-size: 2.2em;
    color: #e30f00;
}

.AddBook {
    width: 150px;
    height: 50px;
    font-size: 1.3em;
    border: none;
    border-radius: 10px;
    background-color: #e30f00;
    color: #000;
    cursor: pointer;
}

.AddBook:focus,
.AddBook:hover {
    background-color: #f54e42;
}

@media (min-width: 768px) {
    .Header {
        flex-flow: row;
    }

    .Title {
        font-size: 3.2em;
    }
}