.Header {
    width: 100%;
    height: 60px;
    background-color: #44f;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 10px;
}

.Title {
    font-size: 1.777em;
}

.AddBook {
    font-weight: 600;
    border: none;
    background-color: #ffcc6e;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.AddBook:hover,
.AddBook:focus {
    background-color: #ffa600;
}