.BookCard {
    margin: 10px auto;
    background-image: linear-gradient(to right bottom, #9191fd, #00b1ff, #00caff, #00ddf3, #12ebcf);
    padding: 5px;
    border-radius: 10px;
    width: 100%;
}

.BookAttribute {
    font-size: 1.5em;
    font-weight: 600;
}

.by {
    font-size: 0.6667em;
}

.Button {
    margin: 0 10px;
    width: 160px;
    height: 40px;
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    border-radius: 10px;
    font-size: 0.925em;
    cursor: pointer;
    background-color: #0008ff;
    color: #eee;
}

.Button:focus,
.Button:hover {
    background-color: #5e63ff;    
}